<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Бүртгэл</div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %} {{ signupForm }}
                <button type="submit" class="btn btn-primary">
                  Бүртгүүлэх
                </button>
              </form>
              <p>{{msg}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
