{%extends '../base.html'%}

{%block content%}
{%if blog%}
<h3>{{torol.tname}}ууд</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Нэр</th>
            <th scope="col">Төрөл</th>
            <th scope="col">Огноо</th>
        </tr>
    </thead>
    <tbody>
        {%for i in blog%}
        <tr>
            <th scope="row">{{i.id}}</th>
            <td>{{i.bname}}</td>
            <td>{{i.btorol.tname}}</td>
            <td>{{i.bdate}}</td>
            <td><a href="{%url 'blog:detailBlog' i.id%}">detail</i></a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>
</table>
{%else%}
<p>blog алга</p>
{%endif%}

{%endblock%}