<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FIFO Queue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">

        <h1 class="mb-4">Яаралтай тусламжийн өрөөний оочир (FIFO)</h1>
        <ol class="list-group mb-4" id="ol">
            <span style="text-align: right;">Patient count: {{ count }}</span>
            {% for user in users %}
            <li class="list-group-item " id="li">
                {{ user.name }}
            </li>
            {% endfor %}
        </ol>
        <a class="btn btn-primary" href="{% url 'join_queue' %}">Өвчтөн нэмэх</a>
        <br>
        <br>
        <form method="post" action="{% url 'serve_user' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Өвчтөнд үйлчлэх</button>
        </form>
    </div>
    <script>
        ol = document.getElementById('ol')
        li = ol.getElementsByTagName('li')

        for (let i = 0; i < li.length; i++) {
            li[i].textContent = i + 1 + ". " + li[i].textContent;
        }
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>