
<div class="container">
    <h1>Welcome to the Movie Web App</h1>
    {% if current_user.is_authenticated %}
        <p class="float-right">Hello, {{ current_user.email }}! <a href="{{ url_for('logout') }}">Logout</a></p>
        <!-- Check if the user is admin before showing the user list link -->
        {% if userRole == 1 %}
            <li><a href="{{ url_for('user_list') }}">User List (Admin)</a></li>
        {% endif %}
    {% else %}
        <p class="float-right">
            <a href="{{ url_for('login') }}">Login</a> | 
            <a href="{{ url_for('signup') }}">Sign Up</a>
        </p>
    {% endif %}
    <ul>
        <li><a href="/movie-list">Movie List</a></li>
        <li><a href="/person-list">Person List</a></li>
        <li><a href="/director-list">Найруулагч</a></li>
        <li><a href="/writer-list">Зохиолч</a></li>
        <li><a href="/producer-list">Продюсер</a></li>
        <li><a href="/reviews">Кино шүүмжлэгч</a></li>
    </ul>
</div>
</body>
