<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <h3 id="clock" class="text-muted"></h3>

    <script>
      function updateTime() {
        const clock = document.getElementById("clock");
        if (clock) {
          const now = new Date();
          const hours = now.getHours().toString().padStart(2, "0");
          const minutes = now.getMinutes().toString().padStart(2, "0");
          const seconds = now.getSeconds().toString().padStart(2, "0");
          const timeString = `${hours}:${minutes}:${seconds}`;
          clock.innerHTML = timeString;
        }
      }

      setInterval(updateTime, 1000);
      updateTime();
    </script>
  </body>
</html>
