<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
  </head>
  <body>
    {%extends 'layout.html'%}
    {%block content%}
    <h1>Мандах Их Сургуулийн товч танилцуулга</h1>
    <p class="lead">
      Мандах Их сургууль 1992 онд байгуулагдсан. 3 салбар сургуультай. Үүнд:
      <ul>
        <li>Төв сургууль</li>
        <li>Дарханы салбар сургууль</li>
        <li>Мэдээлэл, технологийн сургууль</li>
      </ul>
    </p>
    
  <div class="row">
    <div class="col-md-4">
    <h2>АЛСЫН ХАРАА</h2>
      <p>
        ОЛОН УЛСЫН ХЭМЖЭЭНД ХҮЛЭЭН ЗӨВШӨӨРӨГДСӨН СУРГАЛТ-СУДАЛГААНЫ ИХ СУРГУУЛЬ БОЛОХ.
      </p>
    </div>
    <div class="col-md-4">
      <h2>ЦАГ</h2>
      {%include 'clock.html'%}
    </div>>
  </div>
  {%endblock%}
  </body>
</html>
