.main500 {
  height: 500px;
  width: 500px;
  /* background-color: rgb(255, 0, 98);
  position: absolute; */
}
.main100:hover + p {
  color: rgb(255, 187, 0);
}
p:link {
  color: black;
}
.main100 {
  height: 100px;
  width: 100px;
  background-color: rgb(255, 187, 0);
  position: absolute;
}
.main200 {
  height: 200px;
  width: 200px;
  background-color: rgb(208, 255, 0);
  position: absolute;
}
.main300 {
  height: 300px;
  width: 300px;
  background-color: rgb(0, 217, 255);
  position: absolute;
}
.main400 {
  height: 400px;
  width: 400px;
  background-color: rgb(212, 0, 255);
  position: absolute;
}
