<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee web app</title>
  </head>
  <body>
    <div
      style="
        margin: 0 auto;
        width: 900px;
        background-image: url('https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        height: 600px;
        padding: 10px;
      "
    >
      <br />
      <h3>Welcome to Employee app</h3>
      <hr />
      <a href="/branches">Branch</a>
      <br />
      <a href="/workers">Worker</a>
    </div>
  </body>
</html>
