{%extends 'layout.html'%} {%block content%} {% if hicheel %}


<h3>Хичээлүүд</h3>
<form method="post">
  <input type="text" name="name">
  <input type="submit" value="search name">
</form><br>

<table class="table">
  <thead  class="thead-dark">
    <tr>
      <th>#</th>
      <th>Нэр 
       <a href="{{url_for('list_hicheel',any='h.hcode',sort='asc')}}" style="color: white;"><i class="fa fa-sort-alpha-asc"></i></a>
       <a href="{{url_for('list_hicheel',any='h.hcode',sort='desc')}}" style="color: white;"><i class="fa fa-sort-alpha-desc"></i></a>
      </th>
      <th>Кредит</td>
      <th>Өмнөх холбоо</th>
      <th>Төрөл</th>
    </tr>
  </thead>
  <tbody>
    {%for i in hicheel%}
    <tr>
      <td>{{i.id}}</td>
      <td>{{i.hcode}}</td>
      <td>{{i.credit}}</td>
      <td>{{i.oname}}</td>
      <td>{{i.tname}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>  
{{pn.links}}
{%else%}
<p>Medeell alga</p>
{%endif%}
{%endblock%}
