<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list oyutan</title>
  </head>
  <body>
    {%extends 'layout.html'%} {%block content%}
    <h1>Оюутан</h1>
    <a href="{{url_for('add_oyutan')}}">Шинээр оюутан нэмэх</a>
    <h3>Оюутан нарын жагсаалт</h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Оюутны код</th>
          <th>Оюутны овог нэр</th>
          <th>Хүйс</th>
          <th>Элсэн орсон</th>
          <th>Тэнхимийн харьяалал</th>
          <th>Үйлдэл</th>
        </tr>
      </thead>
      <tbody>
        {%for i in oyutan%}
        <tr>
          <td>{{i.scode}}</td>
          <td>{{i.sovog}} {{i.sner}}</td>
          <td>{{i.gender}}</td>
          <td>{{i.elssen}}</td>
          <td>{{i.tname}}</td>
          <td>
            <a href="{{url_for('edit_oyutan',id=i.id)}}"
              ><i class="fa fa-edit"></i
            ></a>
            <a
              onclick="return confirm('ta itgeltei bnu')"
              href="{{url_for('delete_oyutan',id=i.id)}}"
              ><i class="fa fa-trash"></i
            ></a>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    {%include 'alert.html'%} {%endblock%}
  </body>
</html>
