<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylish CV</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-black font-sans leading-normal tracking-normal">
    <div class="container mx-auto mt-10 p-5 bg-white shadow-lg rounded-lg flex pr-80 pl-80">
        <div class="w-80 bg bg-emerald-300 p-5">
            <div class="flex flex-col items-center md:flex-row md:items-start">
                <img src="../image/tseejzurag.jpg" alt="Your Photo" class="w-80 h-full rounded-full border-4 border-gray-300 mb-4 md:mb-0 ">
            </div>
        
            <div class="mt-8">
                <h2 class="text-2xl font-bold text-gray-700 border-b-2 border-gray-300 pb-2">Contact</h2>
                <p class="text-gray-600 mt-4"><strong>Email:</strong> sw22d046@mandakh.edu.mn</p>
                <p class="text-gray-600"><strong>Phone:</strong> (976) 95404084</p>
                <p class="text-gray-600"><strong>Facebook:</strong> Ж.Болд-Эрдэнэ</p>
                <p class="text-gray-600"><strong>GitHub:</strong> github.com/Boldengineeer</p>
            </div>

            <div class="mt-8">
                <h2 class="text-2xl font-bold text-gray-700 pb-2">Skills</h2>
                <div class="mt-4">
                    <span class="text-gray-800 text-sm font-semibold mb-2">Python</span> <br>
                    <span class="text-gray-800 text-sm font-semibold mb-2">JavaScript</span> <br>
                    <span class="text-gray-800 text-sm font-semibold mb-2">Tailwind CSS</span> <br>
                    <span class="text-gray-800 text-sm font-semibold mb-2">HTML</span><br>
                    <span class="text-gray-800 text-sm font-semibold mb-2">CSS</span>   
                </div>
            </div>
        </div>
        <div class="w-full ml-8">
            <div class="md:ml-8 text-center md:text-left mt-8 ">
                    <h1 class="text-4xl font-bold text-gray-800">Жигмэд Болд-Эрдэнэ</h1>
                   
                    <p class="text-gray-500 mt-2">Mongolia-UB</p>
            </div>

            <div class="mt-8">
                <h2 class="text-2xl font-bold text-gray-700 border-b-2 border-gray-300 pb-2">Experience</h2>
                <div class="mt-4">
                    <h3 class="text-xl font-semibold text-gray-800">Малчин</h3>
                    <p class="text-gray-600">Говь-Алтай аймаг</p>
                    <p class="text-gray-500">1998-2024</p>
                    <ul class="list-disc list-inside text-gray-600 mt-2"></ul>
                        <li>Өдөрт 30+ ямааг самнадаг</li>
                        <li>Тэжээсэн ямаагаа ална</li>
                        <li>Тэжээсэн ямаагаа иднэ</li>
        
                </div>
                <div class="mt-4">
                    <h3 class="text-xl font-semibold text-gray-800">Front-end хөгжүүлэгч</h3>
                    <p class="text-gray-600">Мэдээлэл, Технологийн Сургууль - Танилцах дадлага</p>
                    <p class="text-gray-500">May 2023 - Present</p>
                    <ul class="list-disc list-inside text-gray-600 mt-2">
                        <li>Хэрэглэгчдийн сонирхолыг татахуйц вэб хуудсыг зохион бүтээж, боловсруулж байгаа. </li>
                        <li>Төслийн хүрээнд багаар ажиллах</li>
                        <li>Төрөл бүрийн төхөөрөмжүүдийн нийцтэй байдлыг хангахын тулд Tailwindcss ашиглан template бэлтгэх.</li>
                    </ul>
                </div>
            </div>

            <div class="mt-8">
                <h2 class="text-2xl font-bold text-gray-700 border-b-2 border-gray-300 pb-2">Education</h2>
                <div class="mt-4">
                    <h3 class="text-xl font-semibold text-gray-800">ЕБС</h3>
                    <p class="text-gray-600">Улсын тэргүүний 58-р сурууль</p>
                    <p class="text-gray-500">2006-2017</p>
                </div>
                <div class="mt-4">
                    <h3 class="text-xl font-semibold text-gray-800">Дээд боловсрол</h3> 
                    <h6 class="text-l font-semibold text-gray-800 mt-2">Бакалавр:</h6>
                    <p class="text-gray-600 mt-2">Мандах Их Сургууль Мэдээлэл, Технологын Сургууль</p>
                    <p class="text-gray-500">2022 оноос эхлэн суралцаж байна.</p>
                </div>
            </div>
        </div>

    </div>
</body>

</html


