<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit zereg</title>
  </head>
  <body> 
    {%extends 'layout.html'%} 
    {%block content%}
    
    <div class="row">
        <div class="col-4">
            <h1>Эрдмийн зэрэг</h1>
            <hr>
            <h3>Эрдмийн зэрэг засах</h3>
            <form method="post">
                <input type="text" name="aname" value="{{aname}}" required >
                <input type="submit" value="Засах"></input>
            </form>
            </br>
            <a href="{{url_for('list_zereg')}}">Буцах</a>
        </div>
    </div>
    {%endblock%}
</body>
</html>
