<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete branch</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='css/branch/list.css')}}"
    />
  </head>
  <body>
    <h3>are you sure this?</h3>
    <form method="POST">
      <input type="text" value="{{bname}}" disabled />
      <input type="submit" value="Delete" />
      <a href="{{url_for('branch')}}">
        <input type="button" value="Cancel"
      /></a>
    </form>
  </body>
</html>
