<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Branches</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='css/branch/list.css')}}"
    />
  </head>
  <body>
    <div style="margin: 0 auto; width: 900px">
      <br />
      <h3>Салбаруудын мэдээлэл</h3>
      <hr />
      <button><a href="{{url_for('add_branch')}}"> add </a></button><br /><br />
      {% if branches %}
      <table border="1" cellpadding="3">
        <tr>
          <th>#</th>
          
          <th>Нэр</th>
          <th>...</th>
        </tr>
        {%for i in branches %}
        <tr>
          <td>{{i.id}}</td>
          <td>{{i.bname}}</td>
          <td>
            <a href="{{url_for('edit_branch',id=i.id)}}"> edit </a
            ><a href="{{url_for('delete_branch',id=i.id)}}"> delete </a>
          </td>
        </tr>
        {%endfor%}
      </table>
      {% else %}
      <h1>Салбарын мэдээлэл алга</h1>
      {% endif%}
      <br />
      <a href="{{url_for('index')}}">back</a>
    </div>
  </body>
</html>
