<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit bagsh</title>
  </head>
  <body>
    {%extends 'layout.html'%} {%block content%}
    <div class="row">
      <div class="col-5">
        <h1>Багш</h1>
        <h3>Багш засах</h3>
        <hr />
        <form method="post">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <label>Багшийн код:</label>
                </td>
                <td>
                  <input type="text"  name="bcode" value="{{bagsh.bcode}}"  />
                </td>
              </tr>

              <tr>
                <td>
                  <label>Багшийн овог:</label>
                </td>
                <td>
                  <input type="text" name="bovog" value="{{bagsh.bovog}}"/>
                </td>
              </tr>

              <tr>
                <td>
                  <label>Багшийн нэр:</label>
                </td>
                <td>
                  <input type="text" name="bner" value="{{bagsh.bner}}" />
                </td>
              </tr>

              <tr>
                <td>
                  <label>Хүйс:</label>
                </td>
                <td>
                    {%if bagsh.gender=='Эр'%}
                    <input type="radio"  name="gender"  checked value="Эр" />
                    <label>Эр</label><br>
                    <input type="radio"  name="gender"    value="Эм"/>
                    <label>Эм</label>
                    {%else%}
                    <input type="radio"  name="gender"   value="Эр" />
                    <label>Эр</label><br>
                    <input type="radio"  name="gender"  checked  value="Эм"/>
                    <label>Эм</label>
                    {%endif%}

                </td>
              </tr>
              <tr>
                <td>
                  <label>Ажилд орсон:</label>
                </td>
                <td>
                  <input type="date" name="aorson" value="{{bagsh.ajild_orson}}"></input>
                </td>
              </tr>
              <tr>
                <td><label>Тэнхим</label></td>
                <td>
                    <select  name="tcode" required>
                        {%for i in tenhim%}
                        {%if i.tid==bagsh.tcode%}
                        <option  value="{{i.tid}}" selected>{{i.tname}}</option>
                        {%else%}
                        <option value="{{i.tid}}">{{i.tname}}</option>
                        {%endif%}
                        {%endfor%}
                    </select>
                </td>
              </tr>
            </tbody>
          </table>
          <input type="submit" value="Засах">
        </form><br>
        <a href="{{url_for('list_bagsh')}}">Буцах</a>
      </div>
    </div>
    {%endblock%}
  </body>
</html>
