

{%extends 'base.html'%}
{%block body_block%}
<div class="jumbotron col-md-3" style="margin-right: 20px;">
    <ul class="list-group">
        <li class="list-group-item">Эмч: <b>{{doctor.0}}</b></li>
        <li class="list-group-item">Эмчлүүлэгч:<br> <b>{{cutomer}}</b></li>
    </ul>
    <form method="post" action="{%url 'room' 1 %}">
        {%csrf_token%}
        <button type="submit" class="btn btn-success">next</button>
    </form>
</div>
<div class="jumbotron col-md-3" style="margin-right: 20px;">
    <ul class="list-group">
        <li class="list-group-item">Эмч: <b> {{doctor.1}}</b></li>
        <li class="list-group-item">Эмчлүүлэгч:<br> <b>{{cutomer2}}</b></li>
    </ul>
    <form method="post" action="{% url 'room' 2 %}">
        {%csrf_token%}
        <button type="submit" class="btn btn-success">next</button>
    </form>
</div>
<div class="jumbotron col-md-3" style="margin-right: 20px;">
    <ul class="list-group">
        <li class="list-group-item">Эмч:<b> {{doctor.2}}</b></li>
        <li class="list-group-item">Эмчлүүлэгч:<br> <b>{{cutomer3}}</b></li>
    </ul>
    <form method="post" action="{% url 'room' 3 %}">
        {%csrf_token%}
        <button type="submit" class="btn btn-success">next</button>
    </form>
</div>
{%endblock%}