<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list alban</title>
    <script>
        setTimeout(msge,  2000)
        function msge(){
            document.getElementById('msg').style.display="none"
        }
    </script>
  </head>
  <body>
    {%extends 'layout.html'%} 
    {%block content%}
    
    <div class="row">
        <div class="col-4">
            <h1>Албан тушаал</h1>
            <hr>
            <h3>Албан тушаал нэмэх</h3>
            <form method="post">
                <input type="text" name="aname" required placeholder="Албан тушаалын нэр">
                <input type="submit" value="Нэмэх"></input>
            </form>
            </br>
            <h3>Албан тушаалын жагсаалт</h3>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Албан тушаал</th>
                <th>Үйлдэл</th>
            </tr>
        </thead>
        <tbody>
            {%for i in datas%}
            <tr>
                <td>{{i.aid}}</td>
                <td>{{i.aname}}</td>
                <td>
                    <a href="#"><i class="fa fa-edit"></i></a>
                    <a onclick="return confirm('ta itgeltei bnu')" href="{{url_for('delete_alban',id=i.aid)}}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    {%with messages = get_flashed_messages(with_categories=true)%}
    {%if messages%}
    <div id="msg" class="alert alert-{{messages[-1][0]}}">
        <strong > {{messages[-1][0]}}!</strong> {{messages[-1][1]}}
    </div>
    {%endif%}
    {%endwith%}
    {%endblock%}
  </body>
</html>
