    {%extends 'layout.html'%}
    {%block content%}
    {%if session%}
    <h3>Welcome <b>{{session['user']}}</b> </h3> 
    {%endif%}
       <p> You logged in as
        {% if session['role'] == 1 %}
        <strong>Сургалтын алба</strong>
        {% elif session['role']==2%}
        <strong>Багш</strong>
        {% elif session['role']==3%}
        <strong>Оюутан</strong>
        {% else %}
        <strong> Guest</strong>
        {% endif %}
    </p>
    <h1>Мандах Их Сургуулийн товч танилцуулга</h1>
    <p class="lead">
      Мандах Их сургууль 1992 онд байгуулагдсан. 3 салбар сургуультай. Үүнд:
      <ul>
        <li>Төв сургууль</li>
        <li>Дарханы салбар сургууль</li>
        <li>Мэдээлэл, технологийн сургууль</li>
      </ul>
    </p>
    
  <div class="row">
    <div class="col-md-4">
    <h2>АЛСЫН ХАРАА</h2>
      <p>
        ОЛОН УЛСЫН ХЭМЖЭЭНД ХҮЛЭЭН ЗӨВШӨӨРӨГДСӨН СУРГАЛТ-СУДАЛГААНЫ ИХ СУРГУУЛЬ БОЛОХ.
      </p>
    </div>
  </div>
      {%include 'alert.html'%}
  {%endblock%}
