{% extends 'index.html' %}

{% block content %}
<h2>Add movie</h2>





<form accept="/addMovie" method="post" enctype="multipart/form-data">
    <div class="mb-3 mt-3">
        <label class="form-label">Нэр:</label>
        <input type="text" class="form-control" name="title" placeholder="Нэрээ оруулна оруулна уу" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Tagline:</label>
        <input type="text" class="form-control" placeholder="tagline оруулна уу" name="tagline" >
    </div>

    <div class="mb-3">
        <label class="form-label">Он:</label>
        <input type="text" class="form-control" placeholder="Он оруулна уу" name="released" required>
    </div>


    <div class="mb-3">
        <label class="form-label">Зураг:</label>
        <input type="file" class="form-control" placeholder="Зураг оруулна уу" name="img" >
    </div>
    <button type="submit" class="btn btn-primary">Бүртгүүлэх</button>
</form>
<br>
<br>
{% include 'alert.html' %}


{% endblock %}