{% extends 'base.html' %}

{% block content %}

    <div class="container mt-3">
        <h2>Movie Detail</h2>

        <div class="card" style="width:400px">
            {% for i in getMovie %}
            <img class="card-img-top" src="https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg " alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">{{i.name}}</h4>
                <p class="card-text"><strong>Нээлт хийсэн он:</strong> {{ i.released }}</p>
                <p class="card-text"><strong>Жүжигчид:</strong> {{i.aname | join(', ')| default('Жүжигчид алга байна',true)}}</p>
                <p class="card-text"><strong>Найруулагч:</strong> {{i.dname | join(', ')| default('Найруулагч алга байна',true)}}</p>
                <p class="card-text"><strong>Продюсер:</strong> {{i.pname | join(', ')| default('Продюсер алга байна',true)}}</p>
                <p class="card-text"><strong>Зохиолч:</strong> {{i.wname | join(', ')| default('Зохиолч алга байна',true)}}</p>
                <p class="card-text"><strong>Сэтгэгдэл:</strong> {{i.rname | join(', ') | default('Сэтгэгдэл алга байна',true)}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}