{% extends 'index.html' %}

{% block content %}
<h2>Movie List ({{ count }})</h2>


<br>
{% for i in movies %}
<div class="col-md-4">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg"
            alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">{{i.title}}</h4>
            <p class="card-text">Нээлт хийсэн он c:{{ i.released }}</p>
            <p class="card-text">{{ i.tagline }}</p>
            <a href="{{url_for('movieDetails', mid=i.mid)}}" class="btn btn-primary">Дэлгэрэнгүй</a>
        </div>
    </div>
    <br>
</div>
{% endfor %}
{{ pn.links }}
{% endblock %}