{%extends 'index.html' %}
{% block content %}
<form accept="/register" method="post">
    <div class="mb-3 mt-3">
        <label class="form-label">Нэр:</label>
        <input type="text" class="form-control" name="name" placeholder="Нэрээ оруулна оруулна уу" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Нууц үг:</label>
        <input type="password" class="form-control" placeholder="Нууц үгээ оруулна уу" name="password" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Нууц үг давтах:</label>
        <input type="password" class="form-control" placeholder="Нууц үгээ давтаж оруулна уу" name="repassword"
            required>
    </div>
    <button type="submit" class="btn btn-primary">Бүртгүүлэх</button>
</form>
<br>
<br>
{% include 'alert.html' %}
{% endblock %}