<h1>Ажилтны мэдээлэл</h1>
<form method="post">
  <input type="text" name="wname" placeholder="Ажилтны нэр" />
  <input type="submit" value="Нэмэх" />
  <br />
  <br />
  Салбар:
  <select name="branch">
    <option>-------</option>
    {%for i in branches%}
    <option value="{{i.bid}}">{{i.bname}}</option>
    {%endfor%}
  </select>
</form>
<table border="1px">
  <tr>
    <td>#</td>
    <td>Нэр</td>
    <td>Салбар</td>
    <td></td>
  </tr>
  {%for i in workers%}
  <tr>
    <td>{{i.wid}}</td>
    <td>{{i.wname}}</td>
    <td>{{i.bname}}</td>
    <td>
      <a href="{{url_for('update_worker', id=i.wid)}}">edit</a>
      <a
        onclick="return confirm('Are you sure?')"
        href="{{url_for('delete_worker',wid=i.wid)}}"
        >delete</a
      >
    </td>
  </tr>
  {%endfor%}
</table>
<a href="/">back</a>
