<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Worker</title>
  </head>
  <body>
    <div style="margin: 0 auto; width: 900px">
      <br />
      <h3>Ажилтны мэдээлэл</h3>
      <form method="post">
        <fieldset>
          <input type="text" name="name" placeholder="Ажилтны нэр" required />
          <input type="submit" value="Нэмэх" /><br /><br />
          <label for="b_id">Салбар:</label>
          <select name="b_id" required>
            <option value="">-- Select --</option>
            {%if bData%} {%for i in bData%}
            <option value="{{i.id}}">{{i.bname}}</option>
            {%endfor%} {% else %}
            <option>Салбар алга</option>
            {%endif%}
          </select>
        </fieldset>
      </form>
      <br />
      {% if wData %}
      <table border="1" cellpadding="3">
        <tr>
          <td>#</td>
          <th>Нэр</th>
          <th>Салбар</th>
          <th></th>
        </tr>
        {%for worker in wData %}
        <tr>
          <td>{{worker.id}}</td>
          <td>{{worker.name}}</td>
          <td>{{worker.bname}}</td>
          <td>
            <a href="/worker?detail={{worker.id}}">Дэлгэрэнгүй</a>
          </td>
        </tr>
        {%endfor%}
      </table>
      {% else %}
      <h3>Ажилчин алга</h3>
      {% endif%}
      <hr />
      <a href="/">back</a>
    </div>
  </body>
</html>
