{% extends 'layout.html' %}

{% block title %} Movie Detail - {{ movie.title }} {% endblock %}

{% block body_block %}
<section class="container mx-auto p-6">
  <div class="flex flex-col md:flex-row bg-gray-800 rounded-lg shadow-lg overflow-hidden">

    <!-- Movie Poster -->
    <div class="w-full md:w-1/3">
      <img src="{{ url_for('static', filename='images/movies/' + movie.img) }}" alt="Movie Poster" class="w-cover h-cover object-cover">
    </div>

    <!-- Movie Details -->
    <div class="w-full md:w-2/3 p-6">
      <h3 class="text-3xl font-semibold text-white">{{ movie.title }}</h3>
      <p class="text-gray-400 mt-2">Tagline: {{ movie.tagline }}</p>
      <p class="text-gray-400 mt-2">Release Date: {{ movie.released }}</p>
      <p class="text-gray-300 mt-4">{{ movie.description }}</p>

      <div class="mt-6">
        <h4 class="text-xl font-semibold text-white">Жүжигчид:</h4>
        <ul class="list-disc ml-6 text-gray-400">
          {% for actor in movie.cast %}
            <li>{{ actor }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="mt-6">
        <h4 class="text-xl font-semibold text-white">Найруулагч:</h4>
        <p class="text-gray-400">{{ movie.director | join(', ') }}</p>
      </div>

      <div class="mt-6">
        <h4 class="text-xl font-semibold text-white">Зохиолч:</h4>
        <p class="text-gray-400">{{  movie.writer  | join(', ') | default('Зохиолчийн мэдээлэл олдсонгүй', true) }}</p>
      </div>


      <div class="mt-6">
        <h4 class="text-xl font-semibold text-white">Cэтгэгдэл:</h4>
        <ul class="list-disc ml-6 text-gray-400">
            {% for i in range(movie.reviewedPerson|length) %}
            <li>{{ movie.reviewedPerson[i] }}: {{ movie.review[i] }}</li>
          {% endfor %}</ul>
      </div>
      <!-- Go Back Button -->
      <div class="mt-6">
        <a href="{{ url_for('movies') }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Буцах</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
