<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add oyutan</title>
  </head>
  <body>
    {%extends 'layout.html'%} {%block content%}
    <div class="row">
      <div class="col-5">
        <h1>Оюутан</h1>
        <h3>Оюутан нэмэх</h3>
        <hr />
        <form method="post">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <label>Оюутны код:</label>
                </td>
                <td>
                  <input type="text" name="scode"  />
                </td>
              </tr>

              <tr>
                <td>
                  <label>Оюутны овог:</label>
                </td>
                <td>
                  <input type="text" name="sovog" />
                </td>
              </tr>

              <tr>
                <td>
                  <label>Оюутны нэр:</label>
                </td>
                <td>
                  <input type="text" name="sner"  />
                </td>
              </tr>

              <tr>
                <td>
                  <label>Хүйс:</label>
                </td>
                <td>
                  <input checked="true" type="radio"  name="gender" value="Эр" />
                  <label >Эр</label><br>
                  <input type="radio" required name="gender" value="Эм" />
                  <label>Эм</label><br />
                </td>
              </tr>
              <tr>
                <td>
                  <label>Регистр:</label>
                </td>
                <td>
                  <input type="text" name="register" pattern="[A-Za-z]{2}\d{7}" placeholder="LL0000000" title="enter LL0000000"></input>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Элссэн огноо:</label>
                </td>
                <td>
                  <input type="date" name="elssen"></input>
                </td>
              </tr>
              <tr>
                <td><label>Тэнхим</label></td>
                <td>
                  <select  name="tcode" required>
                    <option value="">--- Сонгох ---</option>
                    {%for i in tenhim%}
                    <option value="{{i.tid}}">{{i.tname}}</option>
                    {%endfor%}
                </select></td>
              </tr>
            </tbody>
          </table>
          <input type="submit" value="Нэмэх">
        </form><br>
        <a href="{{url_for('list_oyutan')}}">Буцах</a>
      </div>
    </div>
    {%include 'alert.html'%}
    {%endblock%}
  </body>
</html>
