<!DOCTYPE html>
<html>
  <body>
    <h3>{{title}}</h3>
    <form method="post">
      {% csrf_token %} {{bForm}}<br />
      <input type="submit" value="add" />
    </form>
    <br />
    {%if branches %}
    <table border="">
      <tr>
        <th>#</th>
        <th>Нэр</th>
        <th></th>
        <th></th>
      </tr>
      {%for branch in branches%}
      <tr>
        <td>{{branch.id}}</td>
        <td>{{branch.bname}}</td>
        <td><a href="{%url 'uBranch' branch.id %}">edit</a></td>
        <td><a href="{%url 'dBranch' branch.id %}" onclick="return confirm('Та устгахдаа итгэлтэй байнуу!')">delete</a></td>
      </tr>
      {%endfor%}
    </table>
    {%else%}
    <p>no branches</p>
    {%endif%}
    <a href="{%url 'home'%}">back</a>
  </body>
</html>
